{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'js/jquery-file-upload/css/jquery.fileupload.css') }}">
    {%  block scripts %}
        {{ super() }}

        <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>


        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/javascript-templates/tmpl.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/jquery.fileupload-image.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>

<style>
pre {
    text-align: left;
    white-space: pre-line;
  }

  .preview {
        width: 320px;
        height: auto;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

</style>

        <script>

var Item = ({ data }) => `
    <div class="col-sm-6 col-md-6 col-xs-6" style='width:80%; padding:25px;'>

        <div class="thumbnail" style="border:none; background:white;">

            <div class="col-sm-6 col-md-6 col-xs-12 image-container">
                <div class="image">
                    <img class='preview' src="/image/${data.filename != null ? data.filename : ''}">
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-12" >
                <!-- Email address -->
                <div class="md-form md-outline">
                    <label for="vedor_name">Vendor name</label>
                    <input type="text" id="vedor_name" class="form-control" readonly value="${data.vendor_name != null ? data.vendor_name : ''}">
                </div>
                <div class="md-form md-outline">
                    <label for="invoice_number">Invoice number</label>
                    <input type="text" id="invoice_number" class="form-control" readonly value="${data.invoice_number != null ? data.invoice_number : ''}">
                </div>
                <div class="md-form md-outline">
                    <label for="invoice_date">Invoice data</label>
                    <input type="text" id="invoice_date" class="form-control" readonly value="${data.invoice_date != null ? data.invoice_date : ''}">
                </div>
                <div class="md-form md-outline">
                    <label for="tax_amount">Tax amount</label>
                    <input type="text" id="tax_amount" class="form-control" readonly value="${data.tax_amount != null ? data.tax_amount : ''}">
                </div>
                <div class="md-form md-outline">
                    <label for="total_amount">Total amount</label>
                    <input type="text" id="total_amount" class="form-control" readonly value="${data.total_amount != null ? data.total_amount : ''}">
                </div>

            </div>
        </div>

</div>
`;


            $(function () {
                {# Get your upload form by ID #}
                $('#fileupload_form').fileupload({
                    url: "{{ url_for('main.upload_image') }}",
                    downloadTemplateId: null
                });

                

            });

            function populate_invoice_data(data) {
                //$('#output').prepend()
                //console.log(JSON.stringify(data.result.data));
                var res=[];
                res.push(data.result);
                console.log(res)
                $('#output').prepend(res.map(Item).join(''));
                //alert(JSON.stringify(data));
            }

            

        </script>
        {# Javascript Template used by JQuery File Upload.#}
        <script id="template-upload" type="text/x-tmpl">
            {% raw %}
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-upload fade" >
                    <td>
                        <span class="preview"></span>
                    </td>
                    <td style="max-width: 20%">
                        <p class="name">{%=file.name%}</p>
                        <strong class="error text-danger"></strong>
                    </td>
                    <td>
                        <p class="size">Processing</p>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                    </td>
                    <td>
                        {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Send</span>
                            </button>
                        {% } %}
                        {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                        {% } %}
                    </td>
                </tr>
            {% } %}
            {% endraw %}
        </script>
    {% endblock %}
{% endblock %}


{% block page_content %}
<form id="fileupload_form" method="POST" action="{{ url_for('main.upload_image') }}" enctype="multipart/form-data">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <div class="box-header with-border">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-5">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add invoices</span>
                    <input  type="file"  name="file" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Send</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            </div>
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <!-- The table listing the files available for upload -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        <div id="output" class="box-body">
        </div>
    </div>
</form>
{% endblock %}


